### Use the Pandas library to:
1. Read in a CSV file of US Counties to a dataframe.
2. Subset the rows in the dataframe to counties named `Washington`.
3. Subset the columns in the dataframe to `county.name` and `state.name`.

In [2]:
import pandas as pd

df = pd.read_csv('county_data.csv')
df

,region,population,county.fips.character,county.name,state.name,state.fips.character,state.abb
0,1001,54590,1001,autauga,alabama,1,AL
1,1003,183226,1003,baldwin,alabama,1,AL
2,1005,27469,1005,barbour,alabama,1,AL
3,1007,22769,1007,bibb,alabama,1,AL
4,1009,57466,1009,blount,alabama,1,AL
...,...,...,...,...,...,...,...
3138,56037,43890,56037,sweetwater,wyoming,56,WY
3139,56039,21326,56039,teton,wyoming,56,WY
3140,56041,20942,56041,uinta,wyoming,56,WY
3141,56043,8425,56043,washakie,wyoming,56,WY
3142,56045,7152,56045,weston,wyoming,56,WY

In [3]:
# 1. []
df[df['county.name'] == 'washington']

,region,population,county.fips.character,county.name,state.name,state.fips.character,state.abb
64,1129,17407,1129,washington,alabama,1,AL
182,5143,204057,5143,washington,arkansas,5,AR
305,8121,4796,8121,washington,colorado,8,CO
386,12133,24732,12133,washington,florida,12,FL
536,13303,21092,13303,washington,georgia,13,GA
594,16087,10144,16087,washington,idaho,16,ID
689,17189,14692,17189,washington,illinois,17,IL
784,18175,28162,18175,washington,indiana,18,IN
880,19183,21765,19183,washington,iowa,19,IA
988,20201,5806,20201,washington,kansas,20,KS
1107,21229,11701,21229,washington,kentucky,21,KY
1171,22117,47025,22117,washington,louisiana,22,LA
1191,23029,32832,23029,washington,maine,23,ME
1213,24043,147882,24043,washington,maryland,24,MD
1395,27163,238721,27163,washington,minnesota,27,MN
1476,28151,51010,28151,washington,mississippi,28,MS
1592,29221,25120,29221,washington,missouri,29,MO
1742,31177,20201,31177,washington,nebraska,31,NE
1885,36115,63108,36115,washington,new york,36,NY
1983,37187,13085,37187,washington,north carolina,37,NC
2126,39167,61751,39167,washington,ohio,39,OH
2204,40147,51112,40147,washington,oklahoma,40,OK
2241,41067,531818,41067,washington,oregon,41,OR
2306,42125,207916,42125,washington,pennsylvania,42,PA
2315,44009,126692,44009,washington,rhode island,44,RI
2517,47179,122840,47179,washington,tennessee,47,TN
2761,48477,33628,48477,washington,texas,48,TX
2803,49053,139484,49053,washington,utah,49,UT
2817,50023,59462,50023,washington,vermont,50,VT
2910,51191,54691,51191,washington,virginia,51,VA
3114,55131,131840,55131,washington,wisconsin,55,WI

In [6]:
# 2. .query
df.query('`county.name` == "washington"')

,region,population,county.fips.character,county.name,state.name,state.fips.character,state.abb
64,1129,17407,1129,washington,alabama,1,AL
182,5143,204057,5143,washington,arkansas,5,AR
305,8121,4796,8121,washington,colorado,8,CO
386,12133,24732,12133,washington,florida,12,FL
536,13303,21092,13303,washington,georgia,13,GA
594,16087,10144,16087,washington,idaho,16,ID
689,17189,14692,17189,washington,illinois,17,IL
784,18175,28162,18175,washington,indiana,18,IN
880,19183,21765,19183,washington,iowa,19,IA
988,20201,5806,20201,washington,kansas,20,KS
1107,21229,11701,21229,washington,kentucky,21,KY
1171,22117,47025,22117,washington,louisiana,22,LA
1191,23029,32832,23029,washington,maine,23,ME
1213,24043,147882,24043,washington,maryland,24,MD
1395,27163,238721,27163,washington,minnesota,27,MN
1476,28151,51010,28151,washington,mississippi,28,MS
1592,29221,25120,29221,washington,missouri,29,MO
1742,31177,20201,31177,washington,nebraska,31,NE
1885,36115,63108,36115,washington,new york,36,NY
1983,37187,13085,37187,washington,north carolina,37,NC
2126,39167,61751,39167,washington,ohio,39,OH
2204,40147,51112,40147,washington,oklahoma,40,OK
2241,41067,531818,41067,washington,oregon,41,OR
2306,42125,207916,42125,washington,pennsylvania,42,PA
2315,44009,126692,44009,washington,rhode island,44,RI
2517,47179,122840,47179,washington,tennessee,47,TN
2761,48477,33628,48477,washington,texas,48,TX
2803,49053,139484,49053,washington,utah,49,UT
2817,50023,59462,50023,washington,vermont,50,VT
2910,51191,54691,51191,washington,virginia,51,VA
3114,55131,131840,55131,washington,wisconsin,55,WI

In [7]:
# 3. .loc
df.loc[df['county.name'] == 'washington']

,region,population,county.fips.character,county.name,state.name,state.fips.character,state.abb
64,1129,17407,1129,washington,alabama,1,AL
182,5143,204057,5143,washington,arkansas,5,AR
305,8121,4796,8121,washington,colorado,8,CO
386,12133,24732,12133,washington,florida,12,FL
536,13303,21092,13303,washington,georgia,13,GA
594,16087,10144,16087,washington,idaho,16,ID
689,17189,14692,17189,washington,illinois,17,IL
784,18175,28162,18175,washington,indiana,18,IN
880,19183,21765,19183,washington,iowa,19,IA
988,20201,5806,20201,washington,kansas,20,KS
1107,21229,11701,21229,washington,kentucky,21,KY
1171,22117,47025,22117,washington,louisiana,22,LA
1191,23029,32832,23029,washington,maine,23,ME
1213,24043,147882,24043,washington,maryland,24,MD
1395,27163,238721,27163,washington,minnesota,27,MN
1476,28151,51010,28151,washington,mississippi,28,MS
1592,29221,25120,29221,washington,missouri,29,MO
1742,31177,20201,31177,washington,nebraska,31,NE
1885,36115,63108,36115,washington,new york,36,NY
1983,37187,13085,37187,washington,north carolina,37,NC
2126,39167,61751,39167,washington,ohio,39,OH
2204,40147,51112,40147,washington,oklahoma,40,OK
2241,41067,531818,41067,washington,oregon,41,OR
2306,42125,207916,42125,washington,pennsylvania,42,PA
2315,44009,126692,44009,washington,rhode island,44,RI
2517,47179,122840,47179,washington,tennessee,47,TN
2761,48477,33628,48477,washington,texas,48,TX
2803,49053,139484,49053,washington,utah,49,UT
2817,50023,59462,50023,washington,vermont,50,VT
2910,51191,54691,51191,washington,virginia,51,VA
3114,55131,131840,55131,washington,wisconsin,55,WI